// color
$light = #fff
$dark = #333
$gray = #999
$danger = red

$bg-light = #f0f0f0
$bg-dark = #333// #00473e
$headline-light = #fffffe // 標題
$paragraph-light = #f2f7f5 // 副標題
$headline-dark = #333// #00473e // 標題
$paragraph-dark = #999// #475d5b // 副標題
$bg-btn = #faae2b // 按鈕
$btn-text = #333 // #00473e // 按鈕文字
$stroke = #333// #00332c
$highlight = #faae2b
$secondary = #ffa8ba
$tertiary = #fa5246

// font size
$font-sizes = 16px
$font-sizes-xs = 14px
