// color

$primary = #6b799e // 60%
$light = #fffffe
$dark = #333
$secondary = #a6c2ce // 30%
$accent = #EBC547 // 10%
$accent-hover = #ecc952
$accent-active = #e4bc38
$danger = red
$success = green


$gray = #ddd // #999
$shadow = #ddd // #999

$bg-light = #fff
$bg-dark = #333// #00473e



$headline-light = #fffffe // 標題
$paragraph-light = #f2f7f5 // 副標題
$headline-dark = #333// #00473e // 標題
$paragraph-dark = #999// #475d5b // 副標題
$bg-btn = #faae2b // 按鈕
$btn-text = #333 // #00473e // 按鈕文字
$stroke = #333// #00332c
$highlight = #faae2b
$tertiary = #fa5246

// font size
$font-sizes = 16px
$font-sizes-xs = 12px
