
// config
@charset "utf-8"
// tools
@import './helper/normalize.styl'
@import './function/mixin.styl'

// base
// ##一些基本設定寫在這裡
//   1. 字體
//   2. reset
// ...

*, *::before, *::after
  box-sizing border-box

body
  font-family Arial, Helvetica, sans-serif

// helper
// ##自己寫的一些工具

.container
  max-width 1200px

.mx-auto
  margin-left auto
  margin-right auto

.img-resp
  max-width 100%
  height auto
  vertical-align bottom

.text-left
  text-align left

.text-right
  text-align right

.text-center
  text-align center

// layout
// ##容器
// .header、.main、.footer ...等



// modules
// ##模組
// 自己寫的一些模組，例如 .base、.base__tit、.header__tit、.col ...等



